<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>name</key>
			<string>10th &amp; Osage Station</string>
			<key>latitude</key>
			<real>39.7318</real>
			<key>longitude</key>
			<real>-105.0056</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>13th Ave Station</string>
			<key>latitude</key>
			<real>39.7345</real>
			<key>longitude</key>
			<real>-104.825</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>16th &amp; California Station</string>
			<key>latitude</key>
			<real>39.744919</real>
			<key>longitude</key>
			<real>-104.992428</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<true/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>16th &amp; Stout Station</string>
			<key>latitude</key>
			<real>39.746166</real>
			<key>longitude</key>
			<real>-104.992759</real>
			<key>southOnly</key>
			<true/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>18th &amp; California Station</string>
			<key>latitude</key>
			<real>39.746767</real>
			<key>longitude</key>
			<real>-104.990028</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<true/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>18th &amp; Stout Station</string>
			<key>latitude</key>
			<real>39.748018</real>
			<key>longitude</key>
			<real>-104.990404</real>
			<key>southOnly</key>
			<true/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>20th &amp; Welton Station</string>
			<key>latitude</key>
			<real>39.747926</real>
			<key>longitude</key>
			<real>-104.986889</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>25th &amp; Welton Station</string>
			<key>latitude</key>
			<real>39.753392</real>
			<key>longitude</key>
			<real>-104.979764</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>27th &amp; Welton Station</string>
			<key>latitude</key>
			<real>39.755233</real>
			<key>longitude</key>
			<real>-104.977370</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>2nd &amp; Abilene Station</string>
			<key>latitude</key>
			<real>39.7189</real>
			<key>longitude</key>
			<real>-104.826</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>30th &amp; Downing Station</string>
			<key>latitude</key>
			<real>39.758800</real>
			<key>longitude</key>
			<real>-104.973572</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>38th &amp; Blake Station</string>
			<key>latitude</key>
			<real>39.770923</real>
			<key>longitude</key>
			<real>-104.973076</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>40th &amp; Colorado Station</string>
			<key>latitude</key>
			<real>39.775912</real>
			<key>longitude</key>
			<real>-104.942201</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>40th Ave &amp; Airport Blvd Station</string>
			<key>latitude</key>
			<real>39.769905</real>
			<key>longitude</key>
			<real>-104.787682</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>61st &amp; Pena Station</string>
			<key>latitude</key>
			<real>39.806895</real>
			<key>longitude</key>
			<real>-104.783999</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Alameda Station</string>
			<key>latitude</key>
			<real>39.7084</real>
			<key>longitude</key>
			<real>-104.9929</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Arapahoe at Village Center Station</string>
			<key>latitude</key>
			<real>39.6002</real>
			<key>longitude</key>
			<real>-104.8884</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Auraria West Station</string>
			<key>latitude</key>
			<real>39.741300</real>
			<key>longitude</key>
			<real>-105.008970</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Aurora Metro Center Station</string>
			<key>latitude</key>
			<real>39.7084</real>
			<key>longitude</key>
			<real>-104.819</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Belleview Station</string>
			<key>latitude</key>
			<real>39.6275</real>
			<key>longitude</key>
			<real>-104.9043</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Central Park Station</string>
			<key>latitude</key>
			<real>39.770646</real>
			<key>longitude</key>
			<real>-104.891652</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Colfax at Auraria Station</string>
			<key>latitude</key>
			<real>39.7403</real>
			<key>longitude</key>
			<real>-105.0019</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Colfax Station</string>
			<key>latitude</key>
			<real>39.7399</real>
			<key>longitude</key>
			<real>-104.8357</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Colorado Station</string>
			<key>latitude</key>
			<real>39.6796</real>
			<key>longitude</key>
			<real>-104.9377</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>County Line Station</string>
			<key>latitude</key>
			<real>39.5617</real>
			<key>longitude</key>
			<real>-104.8722</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Dayton Station</string>
			<key>latitude</key>
			<real>39.6430</real>
			<key>longitude</key>
			<real>-104.8779</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Decatur / Federal Station</string>
			<key>latitude</key>
			<real>39.735687</real>
			<key>longitude</key>
			<real>-105.024452</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Denver Airport Station</string>
			<key>latitude</key>
			<real>39.847468</real>
			<key>longitude</key>
			<real>-104.673853</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Dry Creek Station</string>
			<key>latitude</key>
			<real>39.5788</real>
			<key>longitude</key>
			<real>-104.8765</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Englewood Station</string>
			<key>latitude</key>
			<real>39.6556</real>
			<key>longitude</key>
			<real>-104.9999</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Evans Station</string>
			<key>latitude</key>
			<real>39.6776</real>
			<key>longitude</key>
			<real>-104.9928</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Federal Center Station</string>
			<key>latitude</key>
			<real>39.711852</real>
			<key>longitude</key>
			<real>-105.125347</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Fitzsimons Station</string>
			<key>latitude</key>
			<real>39.755</real>
			<key>longitude</key>
			<real>-104.841</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Florida Station</string>
			<key>latitude</key>
			<real>39.6899</real>
			<key>longitude</key>
			<real>-104.828</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Garrison Station</string>
			<key>latitude</key>
			<real>39.736608</real>
			<key>longitude</key>
			<real>-105.099811</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Iliff Station</string>
			<key>latitude</key>
			<real>39.6735</real>
			<key>longitude</key>
			<real>-104.826</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>I-25 &amp; Broadway Station</string>
			<key>latitude</key>
			<real>39.701523</real>
			<key>longitude</key>
			<real>-104.990158</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Jeffco Government Center Station</string>
			<key>latitude</key>
			<real>39.726640</real>
			<key>longitude</key>
			<real>-105.201728</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Knox Station</string>
			<key>latitude</key>
			<real>39.735687</real>
			<key>longitude</key>
			<real>-105.033303</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Lamar Station</string>
			<key>latitude</key>
			<real>39.736683</real>
			<key>longitude</key>
			<real>-105.066872</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Lincoln Station</string>
			<key>latitude</key>
			<real>39.5459</real>
			<key>longitude</key>
			<real>-104.8696</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Littleton / Downtown Station</string>
			<key>latitude</key>
			<real>39.6119</real>
			<key>longitude</key>
			<real>-105.0149</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Littleton / Mineral Ave Station</string>
			<key>latitude</key>
			<real>39.5801</real>
			<key>longitude</key>
			<real>-105.0250</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Louisiana &amp; Pearl Station</string>
			<key>latitude</key>
			<real>39.6928</real>
			<key>longitude</key>
			<real>-104.9782</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Nine Mile Station</string>
			<key>latitude</key>
			<real>39.6575</real>
			<key>longitude</key>
			<real>-104.8450</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Oak Station</string>
			<key>latitude</key>
			<real>39.737400</real>
			<key>longitude</key>
			<real>-105.120463</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Orchard Station</string>
			<key>latitude</key>
			<real>39.6134</real>
			<key>longitude</key>
			<real>-104.8961</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Oxford - City of Sheridan Station</string>
			<key>latitude</key>
			<real>39.6429</real>
			<key>longitude</key>
			<real>-105.0048</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Pecos Junction Station</string>
			<key>latitude</key>
			<real>39.8054</real>
			<key>longitude</key>
			<real>-105.004</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Peoria Station</string>
			<key>latitude</key>
			<real>39.767553</real>
			<key>longitude</key>
			<real>-104.850501</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Pepsi Center / Elitch Gardens Station</string>
			<key>latitude</key>
			<real>39.7486</real>
			<key>longitude</key>
			<real>-105.0096</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Perry Station</string>
			<key>latitude</key>
			<real>39.734790</real>
			<key>longitude</key>
			<real>-105.040409</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Red Rocks Community College Station</string>
			<key>latitude</key>
			<real>39.725078</real>
			<key>longitude</key>
			<real>-105.152812</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Sheridan Station</string>
			<key>latitude</key>
			<real>39.735147</real>
			<key>longitude</key>
			<real>-105.053616</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Southmoor Station</string>
			<key>latitude</key>
			<real>39.6485</real>
			<key>longitude</key>
			<real>-104.91628</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Sports Authority Field at Mile High Stat</string>
			<key>latitude</key>
			<real>39.7434</real>
			<key>longitude</key>
			<real>-105.0131</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Theatre District/Convention Ctr Station</string>
			<key>latitude</key>
			<real>39.7437</real>
			<key>longitude</key>
			<real>-104.9963</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Union Station</string>
			<key>latitude</key>
			<real>39.755403</real>
			<key>longitude</key>
			<real>-105.002900</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>University of Denver Station</string>
			<key>latitude</key>
			<real>39.6852</real>
			<key>longitude</key>
			<real>-104.9648</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Wadsworth Station</string>
			<key>latitude</key>
			<real>39.736664</real>
			<key>longitude</key>
			<real>-105.099811</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Westminster Station</string>
			<key>latitude</key>
			<real>39.8231</real>
			<key>longitude</key>
			<real>-105.028</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Yale Station</string>
			<key>latitude</key>
			<real>39.6686</real>
			<key>longitude</key>
			<real>-104.927</real>
			<key>southOnly</key>
			<false/>
			<key>northOnly</key>
			<false/>
			<key>eastWest</key>
			<false/>
		</dict>
	</array>
</plist>
